<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MITS Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <style>
    form i {
      margin-left: -30px;
      cursor: pointer;
    }
  </style>
  <link rel="icon" type="image/x-icon" href="/static/images/icons/mits.png">
</head>

<body>
  <div class="container mt-5 col-md-3">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 text-center">
        <h1>Media Inventory Tracker</h1>
        <img src="/static/images/icons/mits.png" alt="Logo" width="128" height="128" class="d-inline-block align-text-top">
      </div>
    </div>

    <form action="/login" method="POST">
      <div class="mb-12 justify-content-center">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" name="username" required>
      </div><br/>
      <div class="mb-12 justify-content-center">
        <label>Password</label>
        <input type="password" name="password" id="password" />
        <i class="bi bi-eye-slash" id="togglePassword"></i>
      </div><br/>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form><br/>

    <h5>v1.4</h5>
  </div>


  <script>
    const togglePassword = document
      .querySelector('#togglePassword');
    const password = document.querySelector('#password');
    togglePassword.addEventListener('click', () => {
      const type = password
        .getAttribute('type') === 'password' ?
        'text' : 'password';
      password.setAttribute('type', type);
      // Toggle the eye and bi-eye icon
      togglePassword.classList.toggle('bi-eye');
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body